.about-wrap{
    /* background: url('../images/about_bg.jpg'); */
    width: 100%;
    position: relative;
}
#profile div .w-40{
    background: url('../images/smw_bg.jpg')
}
.profile-img-area{
    width: 100%;
    position: relative;
}
.profile-overlay-txt{
    position: absolute;
    top: -30px;
    right: -120px;
    transform: rotate(20deg);
}
.profile-overlay-txt h1{
    font-family: 'Dancing Script', cursive;
    font-size: 60px;
    font-weight: 700;
    color: #f9d81b;
}
.profile-pic img{
    width: 100%;
}
.profile-txt-area>div{
    margin-left: 16%;
}
.profile-txt-area .profile-detail{
    font-weight: 400;
}
.profile-list div ul li:first-child{
    color: #2e5bfa;
}
.list-detail ul li:first-child{
    font-weight: 600;
}
.list-detail ul li{
    position: relative;
    padding-left: 25px;
    line-height: 27px;
}
.list-detail ul li:first-child::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "\e929";
    font-family: 'xeicon';
    font-size: 20px;
    width: 20px;
}

/* SKILLS */
#skills{
    background: url('../images/about_skill_bg.jpg');
    width: 100%;
    position: relative;
}
#skills .skill-tit{
    font-weight: 800;
    position: relative;
}
#skills ul li{
    width: 180px;
    height: 180px;
    background: #f9d81b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s;
}
#skills ul li:hover{
    transform: rotateY(180deg);
}
#skills ul li:last-child{
    margin-right: 0;
}
#skills ul li .back{
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg);
    line-height: 30px;
}
#skills ul li:nth-child(1) .back span{
    font-weight: 800;    
    font-style: italic;
    line-height: 40px;
}
#skills ul li:nth-child(2) .back span{
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -1.5px;
}
#skills ul li:nth-child(3) .back span{
    font-family: 'Comfortaa', cursive;
    letter-spacing: -1.5px;
    font-weight: 700;
}
#skills ul li:nth-child(4) .back span{
    font-family: 'Pacifico', cursive;
}
#skills ul li:nth-child(5) .back span{
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    letter-spacing: -1.5px;
    font-style: italic;
}
#skills ul li:last-child .back span{
    font-family: 'Spectral', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

#skills ul li section.front{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#skills ul li section.front{
    position: absolute;
    z-index: 2;
    transform: rotateY(180deg);
}





/* #skill .container .row ul li{
    margin: 30px;
    letter-spacing: -1px;
}
#skill .container .row li a{
    font-weight: 200;
    font-style: italic;
    position: relative;
}
#skill .container .row li a:before{
    content: "";
    position: absolute;
    bottom: 3px;
    background: #fff;
    height: 4px;
    left: auto;
    right: 0;
    width: 0px;
    transition: all .5s cubic-bezier(.23,1,.32,1);
    -webkit-transition: all .5s cubic-bezier(.23,1,.32,1);
}
#skill .container .row li a:hover:before{
    width: 100%;
    right: auto;
    left: 0;
}







#skill .container .row .skill-num{
    position: relative;
}
#skill .container .row .skill-num ul li{
    display: none;    
    position: absolute;
    font-weight: 900;
    color: #fff;
} */