.list-tit{
    width: 30%;
    font-size: 60px;
    font-family: 'Spectral', sans-serif;
    font-style: italic;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: -1px;
    color: #f9d81b;
    margin-bottom: 100px;
}
.profile-list div ul{
    margin-top: 16px;
}
.profile-list div ul li{
    line-height: 30px;
    font-size: 15px;
    font-weight: 400;
}


/* SKILLS */
#skills{
    /* background: url('../images/about_skill_bg.jpg'); */
    width: 100%;
    position: relative;
}
#skills .skill-tit{
    font-weight: 800;
    position: relative;
}
#skills ul li{
    width: 180px;
    height: 180px;
    background: transparent;
    border: 1px solid #f9d81b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
    position: relative;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}
#skills ul li:after{
    content: "";
    width: 100%;
    height: 0%;
    border-radius: 100%;
    top: 0;
    position: absolute;
    left: 0;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    background: #f9d81b;
}
#skills ul li:last-child{
    margin-right: 0;
}
#skills ul li:hover{
    color: #333;
}
#skills ul li:hover::after{
    /* width: 100%; */
    height: 30%;
    z-index: -1;
}
#skills ul li .back{
    position: absolute;
    z-index: 1;
    transform: rotateY(0deg);
    line-height: 30px;
}
#skills ul li:nth-child(1){
    font-weight: 800;    
    font-style: italic;
    line-height: 40px;
}
#skills ul li:nth-child(2){
    font-family: 'Source Code Pro', monospace;
    letter-spacing: -1.5px;
}
#skills ul li:nth-child(3){
    font-family: 'Comfortaa', cursive;
    letter-spacing: -1.5px;
    font-weight: 700;
}
#skills ul li:nth-child(4){
    font-family: 'Pacifico', cursive;
}
#skills ul li:nth-child(5){
    font-family: 'Baloo 2', cursive;
    font-weight: 500;
    letter-spacing: -1.5px;
    font-style: italic;
}
#skills ul li:last-child{
    font-family: 'Spectral', sans-serif;
    font-weight: 700;
    letter-spacing: -1px;
}

#skills ul li section.front{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
#skills ul li section.front{
    position: absolute;
    z-index: 2;
    transform: rotateY(180deg);
}