.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;    
}
.container-fluid{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    width: 100%;
}

/* width */
.w-30{
    width: 30%;
}
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}

/* margin top */
.mt-5{
    margin-top: 5px;
}
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}
.mt-70{
    margin-top: 70px;
}

/* margin bottom */
.mb-5{
    margin-bottom: 5px;
}
.mb-7{
    margin-bottom: 7px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-50{
    margin-bottom: 50px;
}

/* margin-left */
.ml-10{
    margin-left: 10px;
}
.ml-50{
    margin-left: 50px;
}
.ml-80{
    margin-left: 80px;
}
.ml-100{
    margin-left: 100px;
}
.ml-120{
    margin-left: 120px;
}
.ml-200{
    margin-left: 200px;
}

/* margin-right */
.mr-80{
    margin-right: 80px;
}

/* padding top */
.pt-120{
    padding-top: 120px;
}

/* padding-bottom */
.pb-7{
    padding-bottom: 7px;
}
.pb-50{
    padding-bottom: 50px;
}
.pb-70{
    padding-bottom: 70px;
}
.pb-100{
    padding-bottom: 100px;
}
.pb-120{
    padding-bottom: 120px;
}