.d-flex{
    display: flex;
}
.justify-content-center{
    justify-content: center;
}
.align-items-center{
    align-items: center;    
}
.container-fluid{
    width: 100%;
}
.container{
    width: 80%;
    margin: 0 auto;
}
.row{
    width: 100%;
}



/* width */
.w-40{
    width: 40%;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}

/* margin top */
.mt-10{
    margin-top: 10px;
}
.mt-20{
    margin-top: 20px;
}
.mt-30{
    margin-top: 30px;
}
.mt-40{
    margin-top: 40px;
}
.mt-50{
    margin-top: 50px;
}


/* margin bottom */
.mb-5{
    margin-bottom: 5px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-20{
    margin-bottom: 20px;
}

/* padding top */
.pt-120{
    padding-top: 120px;
}

/* padding-bottom */
.pb-120{
    padding-bottom: 120px;
}