@import url('https://fonts.googleapis.com/css2?family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

/* ===== font ===== */
.en{
    font-family: 'Spectral', sans-serif;
}

/* ===== size ===== */
.fz-15{
    font-size: 15px;
}
.fz-17{
    font-size: 17px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
}
.fz-25{
    font-size: 25px;
}
.fz-40{
    font-size: 40px;
}
.fz-45{
    font-size: 45px;
}
.fz-50{
    font-size: 50px;
}

/* ===== color ===== */
.fc-grey{
    color: #808080;
}


/* ===== letter spacing ===== */
.ls-1{
    letter-spacing: -1px;
}
.ls-3{
    letter-spacing: 3px;
}


/* ===== etc ===== */
.txt-upper{
    text-transform: uppercase;
}
