@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@500&family=Comfortaa:wght@300;400;500;600;700&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Dancing+Script:wght@400;500;600;700&family=Pacifico&display=swap');
/* font-family: 'Source Code Pro', monospace;*/

/* KR FONT */
@font-face {
    font-family: 'EBSHunminjeongeumSBA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHunminjeongeum.woff') format('woff');
}
@font-face {
    font-family: 'Jeju Hallasan';
    src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot);
    src: url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.eot?#iefix) format('embedded-opentype'),
         url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff2) format('woff2'),
         url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.woff) format('woff'),
         url(//fonts.gstatic.com/ea/jejuhallasan/v3/JejuHallasan-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Cafe24Oneprettynight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Oneprettynight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'InkLipquid';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
}
@font-face {
    font-family: 'MaplestoryOTFBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff') format('woff');
}
@font-face {
    font-family: 'SeoulNamsanM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/SeoulNamsanM.woff') format('woff');
}
@font-face {
    font-family: 'DOSGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSGothic.woff') format('woff');
}
@font-face {
    font-family: 'EBSHMJESaeronRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/EBSHMJESaeronRA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NanumSquare';
    font-weight: 400;
    src: url(NanumSquareR.eot);
    src: url(NanumSquareR.eot?#iefix) format('embedded-opentype'), url(NanumSquareR.woff) format('woff'), url(NanumSquareR.ttf) format('truetype');
}
@font-face {
    font-family: 'BMJUA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMJUA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ===== FONT ===== */
.ft-spectral{
    font-family: 'Spectral', sans-serif;
}
.ft-montserrat{
    font-family: 'Montserrat', sans-serif;
}
.ft-baloo{
    font-family: 'Baloo 2', cursive;
}
.ft-pacifico{
    font-family: 'Pacifico', cursive;
}

/* ===== SIZE ===== */
.fz-12{
    font-size: 12px;
}
.fz-14{
    font-size: 14px;
}
.fz-15{
    font-size: 15px;
}
.fz-16{
    font-size: 16px;
}
.fz-17{
    font-size: 17px;
}
.fz-18{
    font-size: 18px;
}
.fz-20{
    font-size: 20px;
}
.fz-24{
    font-size: 24px;
}
.fz-25{
    font-size: 25px;
}
.fz-28{
    font-size: 28px;
}
.fz-30{
    font-size: 30px;
}
.fz-35{
    font-size: 35px;
}
.fz-38{
    font-size: 38px;
}
.fz-40{
    font-size: 40px;
}
.fz-45{
    font-size: 45px;
}
.fz-50{
    font-size: 50px;
}
.fz-60{
    font-size: 60px;
}
.fz-70{
    font-size: 70px;
}
.fz-150{
    font-size: 150px;
}

/* ===== COLOR ===== */
.fc-white{
    color: #fff;
}
.fc-grey{
    color: #808080;
}

/* ===== ALIGN ===== */
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}

/* ===== LETTER SPACING ===== */
.ls-1{
    letter-spacing: -1px;
}
.ls-2{
    letter-spacing: -2px;
}
.ls-3{
    letter-spacing: 3px;
}

/* ===== ETC ===== */
.text-upper{
    text-transform: uppercase;
}
