/* ========== main page ========== */
@media (max-width: 1025px){
    .circle01{
        top: 20%;
        left: -4%;
    }
    #main .main-text{
        top: 45%;
        left: 13%;
    }
    svg{
        /* left: 9%; */
        display: none;
    }
    section#contents{
        margin-top: 0;
    }
    section#contents div.imgSlider{
        display: none;
    }
    .rs-area{
        display: block;
        margin-top: 10%;
    }
    .rs-area div img{
        width: 100%;
    }
    .sec01, .sec02, .sec03{
        /* margin-bottom: 50%; */
        height: 100vh;
    }
    .sec04{
        height: 60vh;
    }
    .title{
        display: none;
    }
    .page-detail ul{
        padding-top: 100%;
    }
    /* menu */
    #work-list .container{
        width: 75%;
    }
    .work-list-tit{
        display: none;
    }
    .rs-work-list-tit{
        display: block;
    }
    .work-list-detail{
        display: block;
    }
    .work-list-detail .w-40{
        width: 100%;
    }
    .work-list-detail .w-60{
        width: 100%;
    }
    #work-list .work-list-detail div:nth-child(2) ul {
        margin-top: 4%;
    }
    .list-top li span{
        margin-left: 0;
    }
}
@media (max-width: 769px){
    .work-list-detail .w-40 .fz-35{
        font-size: 25px;
    }
    #work-list .work-list-detail div ul li{
        margin-bottom: 10px;
    }
    #work-list .work-list-detail div:nth-child(2) ul li a img{
        width: 100%;
    }    
    #work-list .container .mb-25{
        margin-bottom: 10px;
    }
}
@media (max-width: 541px){
    #main .main-text .fz-45{
        font-size: 35px;
    }
    .circle02{
        width: 300px;
        height: 300px;
    }
    #back-top{
        width: 75px;
        right: 30px;
        bottom: 80px;
    }
    /* menu page */
    .menubtn .fz-24{
        font-size: 20px;
    }
    .menubtn li:nth-child(2){
        right: 10px;
    }
    .menubtn li:nth-child(3){
        top: 55px;
        right: -18px;
    }    
    .app_work span.mt-15{
        margin-top: 9px;
    }
    .page-detail ul{
        padding-top: 90%;
    }
    .page-detail ul.fz-50{
        font-size: 45px;
    }
    .page-detail ul li a{
        margin-bottom: 0px;
    }
    .page-detail ul li:nth-child(2){
        display: block;
    }
    .page-detail ul li:nth-child(2) a:nth-child(2){
        margin-left: 0px;
    }
    .work-list-detail .w-40 ul:first-child{
        display: none;
    }
    .rs_work-list-detail{
        display: block;
    }
    .rs_work-list-detail li{
        font-size: 25px;
    }
    .work-img{
        display: none;
    }
    .work-list-tit, .rs-work-list-tit{
        display: none;
    }
    .rs-work-list-tit-2{
        display: block;
    }
    .work-list-detail div ul li{
        margin-bottom: 15px;
    }            
    .overlay-page .pt-120{
        padding-top: 150px;
    }
    .overlay-page .pb-120{
        padding-bottom: 0;
    }
}
@media (max-width: 415px){
    .circle01{
        width: 160px;
        height: 160px;
        top: 18%;
    }
    .circle02{
        width: 230px;
        height: 230px;
        top: 40%;
    }
    .fix .logo{
        padding: 30px;
    }
    #main .main-text .fz-45{
        font-size: 30px;
    }
    .menubtn li:nth-child(1){
        right: -7px;
    }
    #back-top{
        width: 65px;
        right: 25px;
    }
    footer .container{
        width: 90%;
    }
    /* menu page */
    .page-detail ul li:first-child a section::after{
        font-size: 35px;
        margin-top: 15px;
        margin-left: 0px;
    }
    .page-detail ul li:nth-child(2) a:nth-child(1) section::after{
        font-size: 35px;
        margin-top: 13px;
        margin-left: 6px;
    }
    .page-detail ul li:nth-child(2) a:nth-child(2) section::after{
        font-size: 35px;
        margin-top: 12px;
        margin-left: 1px;
    }
    .page-detail ul li:nth-child(3) a section::after{
        font-size: 35px;
        margin-top: 14px;
        margin-left: 0px;
    }
    .page-detail ul li a span{
        margin-left: 12px;
    }
    .page-detail ul li:nth-child(2) a:first-child span{
        margin-left: 17px;
    }
    .rs-work-list-tit-2 .fz-30{
        font-size: 25px;
    }
}
@media (max-width: 376px){
    #main .main-text{
        left: 7%;
    }
    footer address{
        padding: 30px 0;
    }
    #back-top{
        width: 53px;
        right: 15px;
        bottom: 20px;
    }
    /* menu page */
    .page-detail ul li a span{
        margin-top: 29px;
    }    
    #main .main-text{
        left: 9%;
    }
    #main .main-text .fz-45{
        font-size: 28px;
    }
}
@media (max-width: 321px){    
    #main .main-text{
        left: 8%;
    }
    #main .main-text .fz-45{
        font-size: 22px;
    }
    .circle01{
        width: 130px;
        height: 130px;
        top: 18%;
    }
    .circle02{
        width: 180px;
        height: 180px;
        top: 43%;
        right: -17%;
    }
    .fix .logo{
        padding: 20px;
    }
    .rs-area .sec01 div, .sec02 div, .sec03 div, .sec04 div{
        margin-top: 10px;
    }
    .rs-text h1{
        margin-top: 0;
        font-size: 35px;
    }
    .contact-btn button{
        font-size: 12px;
    }
    /* menu page */
    .logo .fz-24{
        font-size: 20px;
    }
    .page-detail ul{
        padding-top: 120%;
    }
    .page-detail ul.fz-50{
        font-size: 30px;
    }
    .page-detail ul li a span{
        font-size: 15px;
        margin-top: 14px;
    }
    .page-detail ul li:first-child a section::after{
        font-size: 25px;
        margin-top: 9px;
        margin-left: 1px;
    }
    .page-detail ul li:nth-child(2) a:nth-child(1) section::after{
        font-size: 25px;
        margin-top: 8px;
        margin-left: 5px;
    }
    .page-detail ul li:nth-child(2) a:nth-child(2) section::after{
        font-size: 25px;
        margin-top: 8px;
        margin-left: 0px;
    }
    .page-detail ul li:nth-child(3) a section::after{
        font-size: 25px;
        margin-top: 9px;
    }
    .menubtn .fz-24{
        font-size: 16px;
    }
    .menubtn ul{
        font-size: 16px;
    }
    .menubtn li:nth-child(3){
        top: 42px;
        right: -13px;
    }
    .rs-work-list-tit-2{
        margin-bottom: 15px;
    }
    .rs-work-list-tit-2 p{
        font-size: 20px;
    }
    .rs-work-list-tit-2 p span{
        font-size: 20px;
    }
    .rs_work-list-detail li{
        font-size: 18px;
    }
    .rs_work-list-detail li span.fz-16{
        font-size: 14px;
    }
    #work-list .container{
        width: 80%;
    }
    .ot-work a{
        font-size: 16px;
        letter-spacing: 2px;
    }
    .app_work span.mt-15{
        margin-top: 4px;
    }
    .rs-work-list-tit-2 .fz-30{
        font-size: 22px;
    }
}
/* ========== main page END ==========  */

/* ========== about page ========== */
@media (max-width: 1025px){
    .menubtn>ul>li{
        top: 50px;
        right: 0px;
    }
    .profile-overlay-txt{
        top: -47px;
        left: -72px;
        right: 0;
        transform: rotate(-27deg);
    }
    .profile-overlay-txt h1{
        font-size: 45px;
    }
    .profile-txt-area{
        width: 95%;
        margin-left: 5%;
    }
    .profile-txt-area>div{
        margin-left: 0;
    }
    .profile-list{
        display: flex;
    }
    #skills ul li{
        width: 100%;
        height: 130px;
        margin-right: 10px;
    }
    #skills ul li:nth-child(1) .back span{
        font-size: 27px;
        line-height: 30px;
    }
    #skills ul li:nth-child(2) .back{
        line-height: 22px;
    }
    #skills ul li:nth-child(2) .back span{
        font-size: 21px;
        font-weight: 400;
    }
    #skills ul li:nth-child(3) .back span{
        font-size: 22px;
    }
    #skills ul li:nth-child(4) .back span{
        font-size: 26px;
    }
    #skills ul li:nth-child(5) .back span{
        font-size: 29px;
    }
    #skills ul li:nth-child(6) .back{
        line-height: 20px;
    }
    #skills ul li:nth-child(6) .back span{
        font-size: 24px;
    }
}
/* ========== about page END ==========  */

/* ========== 식물원 ========== */
@media (max-width: 1025px){
    .menubtn li:nth-child(1){
        top: 60px;
    }
    .smw-tit{
        top: 30%;
    }
    .smw-tit .mb-20{
        margin-bottom: 5px;
    }
    .smw-tit .mt-50{
        margin-top: 25px;
    }
    .smw-concept-tit p{
        width: 75%;
    }
    .smw-concept-list{
        width: 100%;
    }
}
@media (max-width: 769px){
    .concept-tit p{
        width: 90%;
    }
    .smw-concept-wrap .container{
        width: 90%;
    }
    .smw-concept-list{
        flex-direction: column;
    }
    .smw-concept-tit p{
        width: 90%;
    }
    .smw-color-wrap{
        justify-content: center;
    }
    .smw-typo{
        width: 100%;
        margin-top: 50px;
    }
    #back-top{
        width: 78px;
        right: 30px;
        bottom: 30px;
    }
}
@media (max-width: 541px){
    .fix .logo{
        padding: 30px;
    }
    .menubtn li:nth-child(1){
        top: 50px;
        right: 0px;
    }
    .smw-header{
        height: 500px;
    }
    .smw-tit{
        top: 30%;
    }
    .smw-tit .mt-50{
        margin-top: 20px;
    }
    .smw-tit .fz-60{
        font-size: 50px;
    }
    .smw-tit .fz-25{
        font-size: 20px;
    }
    .smw-viewbtn button{
        padding: 1px 30px;
    }
    .smw-viewbtn .fz-20{
        font-size: 18px;
    }
    .smw-page .pt-120{
        padding-top: 80px;
    }
    .smw-page .pb-120{
        padding-bottom: 80px;
    }
    .smw-concept-tit .fz-40, .smw-color-list .fz-40, .smw-typo .fz-40, .wireframe .fz-40{
        font-size: 30px;
    }
    .smw-concept-tit p{
        line-height: 35px;
        font-size: 16px;
    }
    .smw-color-wrap div p.fz-20{        
        font-size: 16px;
    }
    .smw-typo-wrap .fz-20{
        font-size: 18px;
    }
    #back-top{
        width: 70px;
        right: 20px;
        bottom: 30px;
    }
    footer .fz-16{
        font-size: 14px;
    }
}
@media (max-width: 415px){
    .menubtn .fz-24{
        font-size: 20px;
    }
    .menubtn li:nth-child(1){
        top: 40px;
        right: -3px;
    }
    .smw-header{
        height: 455px;
    }
    .smw-tit{
        top: 30%;
        right: 15%;
    }
    .smw-tit .fz-60{
        font-size: 45px;
    }
    .smw-tit .fz-24{
        font-size: 22px;
    }
    .smw-tit .fz-25{
        font-size: 18px;
    }
    .smw-page .pt-120{
        padding-top: 60px;
    }
    .smw-page .pb-120{
        padding-bottom: 60px;
    }
    .smw-concept-tit p{
        line-height: 30px;
        font-size: 15px;
        width: 90%;
    }
    .smw-color-wrap div{
        margin-right: 10px;
    }
    .smw-color01, .smw-color02, .smw-color03{
        height: 115px;
    }
    .smw-color-wrap div p.fz-20{
        font-size: 15px;
    }
    .smw-concept-tit .fz-40, .smw-color-list .fz-40, .smw-typo .fz-40, .wireframe .fz-40{
        font-size: 28px;
    }
    footer address.fz-14{
        font-size: 12px;
    }
}
@media (max-width: 376px){
    .fix .logo{
        padding: 25px;
    }
    .smw-tit{
        top: 30%;
        right: 10%;
    }
    .smw-color01, .smw-color02, .smw-color03{
        height: 110px;
    }
    .smw-tit .fz-60{
        font-size: 40px;
    }
    .smw-concept-tit p{
        width: 90%;
    }
    .smw-typo-wrap .fz-20{
        font-size: 17px;
    }
    footer .fz-16{
        font-size: 12px;
        letter-spacing: -1px;
    }
}
@media (max-width: 361px){
    .royal-page .container{
        width: 95%;
    }
    .royal-concept-wrap .container{
        width: 100%;
    }
    .smw-concept-tit p{
        width: 89%;
    }
    .smw-color01, .smw-color02, .smw-color03{
        height: 103px;
    }
}
@media (max-width: 321px){
    .smw-header{
        height: 400px;
    }
    .smw-tit{
        right: 7%;
    }
    .smw-tit .fz-60{
        font-size: 35px;
    }
    .smw-tit .fz-25{
        font-size: 16px;
    }
    .smw-concept-tit .fz-40, .smw-color-list .fz-40, .smw-typo .fz-40, .wireframe .fz-40{
        font-size: 25px;
    }
    .smw-concept-tit p{
        width: 96%;
        line-height: 25px;
        font-size: 14px;
    }
    .smw-color01, .smw-color02, .smw-color03{
        height: 95px;
    }
    .smw-typo-wrap .fz-20{
        font-size: 16px;
    }
    #back-top{
        width: 60px;
        right: 12px;
        bottom: 17px;
    }
}
@media (max-width: 281px){
    .smw-header{
        height: 390px;
    }
    .smw-tit .fz-24{
        font-size: 20px;
    }
    .smw-tit .fz-60{
        font-size: 30px;
    }
    .smw-tit .fz-25{
        font-size: 15px;
    }
    .smw-concept-tit .fz-40, .smw-color-list .fz-40, .smw-typo .fz-40, .wireframe .fz-40{
        font-size: 23px;
    }
    .smw-concept-tit p{
        width: 100%;
        line-height: 22px;
        font-size: 12px;
    }
    .smw-concept-tit .mt-20{
        margin-top: 10px;
    }
    .smw-color-wrap div{
        margin-right: 5px;
    }
    .smw-color01, .smw-color02, .smw-color03{
        height: 85px;
    }
    .smw-color-wrap div p.fz-20{
        font-size: 12px;
    }
    .smw-concept-wrap .mt-50{
        margin-top: 30px;
    }
    .smw-typo{
        margin-top: 30px;
    }
    .smw-typo .mt-20{
        margin-top: 10px;
    }
    .smw-typo-wrap .fz-20{
        font-size: 14px;
        line-height: 15px;
    }
}
/* ========== 식물원 END ========== */
 

/* ========== 경복궁 ========== */
@media (max-width: 1025px){
    .royal-header{
        height: 1000px;
    }
    .royal-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .royal-tit{
        top: 15%;
        right: 40%;
        text-align: center;
    }
    .royal-tit .mb-20{
        margin-bottom: 5px;
    }
    .royal-tit .mt-50{
        margin-top: 25px;
    }
    .royal-concept-tit p{
        width: 80%;
        margin: 20px auto 0;
    }
    .royal-concept{
        width: 100%;
    }
    .monitor{
        display: none;
    }
    .rs-monitor{
        display: block;
    }
}
@media (max-width: 769px){
    .royal-header{
        height: 900px;
    }
    .royal-macbook{
        padding: 75% 0 0 0;
    }
    .royal-tit{
        top: 17%;
        right: 37%;
    }
    .royal-concept-wrap .container{
        width: 100%;
    }
    .royal-concept-tit p{
        width: 95%;
    }
    .royal-concept{
        flex-direction: column;
    }
    .royal-typo{
        margin-top: 50px;
    }
}
@media (max-width: 541px){
    .royal-header{
        height: 650px;
    }
    .royal-macbook{
        padding: 82% 0 0 0;
    }
    .royal-tit{
        top: 18%;
        right: 32%;
    }
    .royal-tit .fz-60{
        font-size: 50px;
    }
    .royal-tit .fz-25{
        font-size: 20px;
    }
    .royal-viewbtn button{
        padding: 1px 30px;
    }
    .royal-viewbtn .fz-20{
        font-size: 18px;
    }
    .royal-page .pt-120{
        padding-top: 80px;
    }
    .royal-page .pb-120{
        padding-bottom: 80px;
    }
    .royal-concept-tit .fz-40, .royal-color .fz-40, .royal-typo .fz-40{
        font-size: 30px;
    }
    .royal-concept-tit p{
        width: 85%;
        line-height: 35px;
        font-size: 16px;
    }
    .royal-color-wrap div p.fz-20{        
        font-size: 16px;
    }
    .royal-typo-wrap .fz-20{
        font-size: 18px;
    }
    .royal-typo{
        margin-top: 50px;
    }
}
@media (max-width: 415px){
    .royal-header{
        height: 550px;
    }
    .royal-macbook{
        padding: 96% 0 0 0;
    }
    .royal-tit{
        right: 27%;
    }
    .royal-tit .fz-60{
        font-size: 45px;
    }
    .royal-tit .fz-24{
        font-size: 22px;
    }
    .royal-tit .fz-25{
        font-size: 18px;
    }
    .royal-page .pt-120{
        padding-top: 60px;
    }
    .royal-page .pb-120{
        padding-bottom: 60px;
    }
    .royal-concept-tit p{
        line-height: 30px;
        font-size: 15px;
        width: 90%;
    }
    .royal-color01{
        margin-right: 10px;
    }
    .royal-color-wrap div p.fz-20{
        font-size: 15px;
    }
    .royal-concept-tit .fz-40, .royal-color .fz-40, .royal-typo .fz-40{
        font-size: 28px;
    }
}
@media (max-width: 376px){
    .royal-tit{
        top: 21%;
        right: 27%;
    }
    .royal-header{
        height: 515px;
    }
    .royal-macbook{
        padding: 100% 0 0 0;
    }
    .royal-tit .fz-60{
        font-size: 40px;
    }
    .royal-tit .mt-50{
        margin-top: 20px;
    }
    .royal-concept-tit p{
        width: 90%;
    }
    .royal-typo-wrap .fz-20{
        font-size: 17px;
    }
}
@media (max-width: 361px){
    .royal-header{
        height: 555px;
    }
    .royal-tit{
        top: 22%;
    }
    .royal-concept-tit p{
        width: 94%;
    }
}
@media (max-width: 321px){
    .royal-page .container{
        width: 95%;
    }
    .royal-concept-wrap .container{
        width: 100%;
    }
    .royal-header{
        height: 520px;
    }
    .royal-macbook{
        padding: 110% 0 0 0;
    }
    .royal-tit{
        top: 24%;
    }
    .royal-tit .fz-60{
        font-size: 35px;
    }
    .royal-tit .fz-25{
        font-size: 16px;
    }
    .royal-concept-tit .fz-40, .royal-color-list .fz-40, .royal-typo .fz-40{
        font-size: 25px;
    }
    .royal-concept-tit p{
        width: 90%;
        line-height: 25px;
        font-size: 14px;
    }
    .royal-color01, .royal-color02{
        width: 130px;
        height: 130px;
    }
    .royal-typo-wrap .fz-20{
        font-size: 16px;
    }
    .royal-concept-tit .mt-20, .royal-color .mt-20, .wireframe-img{
        margin-top: 10px;
    }
}
@media (max-width: 281px){
    .royal-header{
        height: 460px;
    }
    .royal-macbook{
        padding: 105% 0 0 0;
    }
    .royal-tit{
        top: 24%;
        right: 25%;
    }
    .royal-tit .fz-24{
        font-size: 20px;
    }
    .royal-tit .fz-60{
        font-size: 30px;
    }
    .royal-tit .fz-25{
        font-size: 15px;
    }
    .royal-viewbtn .fz-20{
        font-size: 15px;
    }
    .royal-tit .mt-50{
        margin-top: 15px;
    }
    .royal-concept-tit .fz-40, .royal-color .fz-40, .royal-typo .fz-40{
        font-size: 23px;
    }
    .royal-concept-tit p{
        width: 90%;
        line-height: 22px;
        font-size: 12px;
    }
    .royal-color01, .royal-color02{
        width: 100px;
        height: 100px;
    }
    .royal-color-wrap div p.fz-20{
        font-size: 12px;
    }
    .royal-concept-wrap .mt-50{
        margin-top: 30px;
    }
    .royal-typo{
        margin-top: 30px;
    }
    .royal-typo-wrap .fz-20{
        font-size: 14px;
        line-height: 15px;
    }
}
/* ========== 경복궁 END ========== */
 

/* ========== 런드리룸 ========== */
@media (max-width: 1025px){
    .laundry-header{
        height: 1000px;
    }
    .laundry-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .laundry-tit{
        top: 15%;
        right: 36.7%;
        text-align: center;
    }
    .laundry-tit .mb-20{
        margin-bottom: 5px;
    }
    .laundry-tit .mt-50{
        margin-top: 25px;
    }
    .laundry-concept-tit p{
        width: 80%;
        margin: 20px auto 0;
    }
    .laundry-concept{
        width: 100%;
    }
}
@media (max-width: 769px){
    .laundry-header{
        height: 900px;
    }
    .laundry-macbook{
        padding: 75% 0 0 0;
    }
    .laundry-tit{
        top: 17%;
        right: 32.6%;
    }
    .laundry-concept-tit p{
        width: 90%;
    }
    .laundry-concept{
        justify-content: center;
        flex-direction: column;
    }
    .laundry-color-wrap{
        justify-content: center;
    }
    .laundry-typo{
        margin-top: 50px;
    }
    .laundry-concept-wrap .container{
        width: 100%;
    }
}
@media (max-width: 541px){
    .laundry-header{
        height: 650px;
    }
    .laundry-macbook{
        padding: 82% 0 0 0;
    }
    .laundry-tit{
        top: 18%;
        right: 28.8%;
    }
    .laundry-tit .fz-60{
        font-size: 50px;
    }
    .laundry-tit .fz-25{
        font-size: 20px;
    }
    .laundry-viewbtn button{
        padding: 1px 30px;
    }
    .laundry-viewbtn .fz-20{
        font-size: 18px;
    }
    .laundry-concept-tit p{
        width: 90%;
    }
    .laundry-page .pt-120{
        padding-top: 80px;
    }
    .laundry-page .pb-120{
        padding-bottom: 80px;
    }
    .laundry-concept-tit .fz-40, .laundry-color .fz-40, .laundry-typo .fz-40{
        font-size: 30px;
    }
    .laundry-concept-tit p{
        line-height: 35px;
        font-size: 16px;
    }
    .laundry-color-wrap div p.fz-20{        
        font-size: 16px;
    }
    .laundry-typo-wrap .fz-20{
        font-size: 18px;
    }
}
@media (max-width: 415px){
    .laundry-header{
        height: 550px;
    }
    .laundry-macbook{
        padding: 96% 0 0 0;
    }
    .laundry-tit{
        right: 23.8%;
    }
    .laundry-tit .fz-60{
        font-size: 45px;
    }
    .laundry-tit .fz-24{
        font-size: 22px;
    }
    .laundry-tit .fz-25{
        font-size: 18px;
    }
    .laundry-page .pt-120{
        padding-top: 60px;
    }
    .laundry-page .pb-120{
        padding-bottom: 60px;
    }
    .laundry-concept-tit p{
        line-height: 30px;
        font-size: 15px;
        width: 85%;
    }
    .laundry-color01{
        margin-right: 10px;
    }
    .laundry-color-wrap div p.fz-20{
        font-size: 15px;
    }
    .laundry-concept-tit .fz-40, .laundry-color .fz-40, .laundry-typo .fz-40{
        font-size: 28px;
    }
}
@media (max-width: 376px){
    .laundry-tit{
        top: 21%;
        right: 26.5%;
    }
    .laundry-header{
        height: 515px;
    }
    .laundry-macbook{
        padding: 100% 0 0 0;
    }
    .laundry-tit .fz-60{
        font-size: 40px;
    }
    .laundry-tit .mt-50{
        margin-top: 20px;
    }
    .laundry-concept-tit p{
        width: 85%;
    }
    .laundry-typo-wrap .fz-20{
        font-size: 17px;
    }
    .laundry-concept-tit span.fz-28{
        font-size: 26px;
    }
}
@media (max-width: 361px){
    .laundry-header{
        height: 555px;
    }
    .laundry-tit{
        top: 22%;
        right: 26.6%;
    }
    .laundry-concept-tit p{
        width: 90%;
    }
    .laundry-concept-tit span.fz-28{
        font-size: 24px;
    }
}
@media (max-width: 321px){
    .laundry-header{
        height: 520px;
    }
    .laundry-macbook{
        padding: 110% 0 0 0;
    }
    .laundry-tit{
        top: 24%;
        right: 27%;
    }
    .laundry-tit .fz-60{
        font-size: 35px;
    }
    .laundry-tit .fz-25{
        font-size: 16px;
    }
    .laundry-concept-tit .fz-40, .laundry-color-list .fz-40, .laundry-typo .fz-40{
        font-size: 25px;
    }
    .laundry-concept-tit p{
        width: 85%;
        line-height: 25px;
        letter-spacing: -1.5px;
        font-size: 14px;
    }
    .laundry-concept-tit span.fz-28{
        font-size: 23px;
    }
    .laundry-color01, .laundry-color02{
        width: 130px;
        height: 130px;
    }
    .laundry-typo-wrap .fz-20{
        font-size: 16px;
    }
    .laundry-concept-tit .mt-20, .laundry-color .mt-20, .wireframe-img{
        margin-top: 10px;
    }
}
@media (max-width: 281px){
    .laundry-header{
        height: 460px;
    }
    .laundry-macbook{
        padding: 105% 0 0 0;
    }
    .laundry-tit{
        top: 24%;
        right: 25%;
    }
    .laundry-tit .fz-24{
        font-size: 20px;
    }
    .laundry-tit .fz-60{
        font-size: 30px;
    }
    .laundry-tit .fz-25{
        font-size: 15px;
    }
    .laundry-viewbtn .fz-20{
        font-size: 15px;
    }
    .laundry-tit .mt-50{
        margin-top: 15px;
    }
    .laundry-concept-tit .fz-40, .laundry-color .fz-40, .laundry-typo .fz-40{
        font-size: 23px;
    }
    .laundry-concept-tit p{
        width: 90%;
        line-height: 22px;
        font-size: 12px;
    }
    .laundry-concept-tit span.fz-28{
        font-size: 21px;
    }
    .laundry-color01, .laundry-color02{
        width: 100px;
        height: 100px;
    }
    .laundry-color-wrap div p.fz-20{
        font-size: 12px;
    }
    .laundry-concept-wrap .mt-50{
        margin-top: 30px;
    }
    .laundry-typo{
        margin-top: 30px;
    }
    .laundry-typo-wrap .fz-20{
        font-size: 14px;
        line-height: 15px;
    }
}
/* ========== 런드리룸 END ========== */

/* ========== 제주용암수 ========== */
@media (max-width: 1025px){
    .jeju-header{
        height: 1000px;
    }
    .jeju-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .jeju-tit{
        top: 15%;
        right: 33.4%;
        text-align: center;
    }
    .jeju-tit .mb-20{
        margin-bottom: 5px;
    }
    .jeju-tit .mt-50{
        margin-top: 25px;
    }
    .jeju-concept-tit p{
        width: 100%;
    }
}
@media (max-width: 769px){
    .jeju-header{
        height: 900px;
    }
    .jeju-macbook{
        padding: 75% 0 0 0;
    }
    .jeju-tit{
        top: 17%;
        right: 28.2%;
    }
}
@media (max-width: 541px){
    .jeju-header{
        height: 650px;
    }
    .jeju-macbook{
        padding: 82% 0 0 0;
    }
    .jeju-tit{
        top: 18%;
        right: 23.6%;
    }
    .jeju-tit .fz-60{
        font-size: 50px;
    }
    .jeju-tit .fz-25{
        font-size: 20px;
    }
    .jeju-viewbtn button{
        padding: 1px 30px;
    }
    .jeju-viewbtn .fz-20{
        font-size: 18px;
    }
    .jeju-page .pt-120{
        padding-top: 80px;
    }
    .jeju-page .pb-120{
        padding-bottom: 80px;
    }
    .jeju-concept-tit .fz-40{
        font-size: 30px;
    }
    .jeju-concept-tit p{
        line-height: 35px;
        font-size: 16px;
    }
    .jeju-concept-wrap .container{
        width: 100%;
    }
}
@media (max-width: 415px){
    .jeju-header{
        height: 550px;
    }
    .jeju-macbook{
        padding: 96% 0 0 0;
    }
    .jeju-tit{
        right: 17.6%;
    }
    .jeju-tit .fz-60{
        font-size: 45px;
    }
    .jeju-tit .fz-24{
        font-size: 22px;
    }
    .jeju-tit .fz-25{
        font-size: 18px;
    }
    .jeju-page .pt-120{
        padding-top: 60px;
    }
    .jeju-page .pb-120{
        padding-bottom: 60px;
    }
    .jeju-concept-tit p{
        line-height: 30px;
        font-size: 15px;
        width: 100%;
    }
    .jeju-concept-tit .fz-40{
        font-size: 28px;
    }
}
@media (max-width: 376px){
    .jeju-tit{
        top: 21%;
        right: 20.5%;
    }
    .jeju-header{
        height: 515px;
    }
    .jeju-macbook{
        padding: 100% 0 0 0;
    }
    .jeju-tit .fz-60{
        font-size: 40px;
    }
    .jeju-tit .mt-50{
        margin-top: 20px;
    }
    .jeju-concept-tit p{
        width: 100%;
    }
}
@media (max-width: 361px){
    .jeju-header{
        height: 555px;
    }
    .jeju-page .container{
        width: 95%;
    }
    .jeju-concept-wrap .container{
        width: 100%;
    }
    .jeju-tit{
        top: 22%;
        right: 21.3%;
    }
}
@media (max-width: 321px){
    .jeju-header{
        height: 520px;
    }
    .jeju-macbook{
        padding: 110% 0 0 0;
    }
    .jeju-tit{
        top: 24%;
        right: 24.4%;
    }
    .jeju-tit .fz-60{
        font-size: 35px;
    }
    .jeju-tit .fz-25{
        font-size: 16px;
    }
    .jeju-concept-tit .fz-40{
        font-size: 25px;
    }
    .jeju-concept-tit p{
        width: 100%;
        line-height: 25px;
        letter-spacing: -1.5px;
        font-size: 14px;
    }
    .jeju-concept-tit .mt-20{
        margin-top: 10px;
    }
}
@media (max-width: 281px){
    .jeju-header{
        height: 460px;
    }
    .jeju-macbook{
        padding: 105% 0 0 0;
    }
    .jeju-tit{
        top: 24%;
        right: 23.9%;
    }
    .jeju-tit .fz-24{
        font-size: 20px;
    }
    .jeju-tit .fz-60{
        font-size: 30px;
    }
    .jeju-tit .fz-25{
        font-size: 15px;
    }
    .jeju-viewbtn .fz-20{
        font-size: 15px;
    }
    .jeju-tit .mt-50{
        margin-top: 15px;
    }
    .jeju-concept-tit .fz-40{
        font-size: 23px;
    }
    .jeju-concept-tit p{
        width: 100%;
        line-height: 22px;
        font-size: 12px;
    }
}
/* ========== 제주용암수 END ========== */

/* ========== 오설록 ========== */
@media (max-width: 1025px){
    .osul-header{
        height: 1000px;
    }
    .osul-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .osul-tit{
        top: 15%;
        right: 40%;
        text-align: center;
    }
    .osul-tit .mb-20{
        margin-bottom: 5px;
    }
    .osul-tit .mt-50{
        margin-top: 25px;
    }
    .osul-concept-tit p{
        width: 80%;
        margin: 20px auto 0;
    }
    .osul-concept{
        width: 100%;
        justify-content: space-between;
    }
}
@media (max-width: 769px){
    .osul-header{
        height: 900px;
    }
    .osul-macbook{
        padding: 75% 0 0 0;
    }
    .osul-tit{
        top: 17%;
        right: 37%;
    }
    .osul-concept-wrap .container{
        width: 100%;
    }
    .osul-concept-tit p{
        width: 80%;
    }
    .osul-concept{
        flex-direction: column;
    }
    .osul-typo{
        margin-top: 50px;
    }
}
@media (max-width: 541px){
    .osul-header{
        height: 650px;
    }
    .osul-macbook{
        padding: 82% 0 0 0;
    }
    .osul-tit{
        top: 18%;
        right: 32%;
    }
    .osul-tit .fz-60{
        font-size: 50px;
    }
    .osul-tit .fz-25{
        font-size: 20px;
    }
    .osul-viewbtn button{
        padding: 1px 30px;
    }
    .osul-viewbtn .fz-20{
        font-size: 18px;
    }
    .osul-page .pt-120{
        padding-top: 80px;
    }
    .osul-page .pb-120{
        padding-bottom: 80px;
    }
    .osul-concept-tit .fz-40, .osul-color .fz-40, .osul-typo .fz-40{
        font-size: 30px;
    }
    .osul-concept-tit p{
        width: 90%;
        line-height: 35px;
        font-size: 16px;
    }
    .osul-color-wrap{
        flex-direction: row;
    }
    .osul-color-wrap div p.fz-20{        
        font-size: 16px;
    }
    .osul-typo-wrap .fz-20{
        font-size: 18px;
    }
    .osul-typo{
        margin-top: 50px;
    }
    .osul-typo ul.fz-24{
        font-size: 20px;
    }
}
@media (max-width: 415px){
    .osul-header{
        height: 550px;
    }
    .osul-macbook{
        padding: 96% 0 0 0;
    }
    .osul-tit{
        right: 27%;
    }
    .osul-tit .fz-60{
        font-size: 45px;
    }
    .osul-tit .fz-24{
        font-size: 22px;
    }
    .osul-tit .fz-25{
        font-size: 18px;
    }
    .osul-page .pt-120{
        padding-top: 60px;
    }
    .osul-page .pb-120{
        padding-bottom: 60px;
    }
    .osul-concept-tit p{
        line-height: 30px;
        font-size: 15px;
        width: 90%;
    }
    .osul-color01{
        margin-right: 10px;
    }
    .osul-color-wrap div p.fz-20{
        font-size: 15px;
    }
    .osul-concept-tit .fz-40, .osul-color .fz-40, .osul-typo .fz-40{
        font-size: 28px;
    }
    .osul-typo ul.fz-24{
        font-size: 18px;
    }
}
@media (max-width: 376px){
    .osul-tit{
        top: 21%;
        right: 27%;
    }
    .osul-header{
        height: 515px;
    }
    .osul-macbook{
        padding: 100% 0 0 0;
    }
    .osul-tit .fz-60{
        font-size: 40px;
    }
    .osul-tit .mt-50{
        margin-top: 20px;
    }
    .osul-concept-tit p{
        width: 90%;
    }
    .osul-typo-wrap .fz-20{
        font-size: 17px;
    }
}
@media (max-width: 361px){
    .osul-header{
        height: 555px;
    }
    .osul-tit{
        top: 22%;
    }
    .osul-page .container{
        width: 95%;
    }
    .osul-concept-wrap .container{
        width: 100%;
    }
    .osul-concept-tit p{
        width: 89%;
    }
    .osul-typo ul.fz-24{
        font-size: 17px;
    }
}
@media (max-width: 321px){
    .osul-header{
        height: 520px;
    }
    .osul-macbook{
        padding: 110% 0 0 0;
    }
    .osul-tit{
        top: 24%;
    }
    .osul-tit .fz-60{
        font-size: 35px;
    }
    .osul-tit .fz-25{
        font-size: 16px;
    }
    .osul-concept-tit .fz-40, .osul-color-list .fz-40, .osul-typo .fz-40{
        font-size: 25px;
    }
    .osul-concept-tit p{
        width: 90%;
        line-height: 25px;
        font-size: 14px;
    }
    .osul-color01, .osul-color02{
        width: 130px;
        height: 130px;
    }
    .osul-typo-wrap .fz-20{
        font-size: 16px;
    }
    .osul-concept-tit .mt-20, .osul-color .mt-20, .wireframe-img{
        margin-top: 10px;
    }
    .osul-typo ul.fz-24{
        font-size: 16px;
    }
}
@media (max-width: 281px){
    .osul-header{
        height: 460px;
    }
    .osul-macbook{
        padding: 105% 0 0 0;
    }
    .osul-tit{
        top: 24%;
        right: 25%;
    }
    .osul-tit .fz-24{
        font-size: 20px;
    }
    .osul-tit .fz-60{
        font-size: 30px;
    }
    .osul-tit .fz-25{
        font-size: 15px;
    }
    .osul-viewbtn .fz-20{
        font-size: 15px;
    }
    .osul-tit .mt-50{
        margin-top: 15px;
    }
    .osul-concept-tit .fz-40, .osul-color .fz-40, .osul-typo .fz-40{
        font-size: 23px;
    }
    .osul-concept-tit p{
        width: 88%;
        line-height: 22px;
        font-size: 12px;
    }
    .osul-color01, .osul-color02{
        width: 100px;
        height: 100px;
    }
    .osul-color-wrap div p.fz-20{
        font-size: 12px;
    }
    .osul-concept-wrap .mt-50{
        margin-top: 30px;
    }
    .osul-typo{
        margin-top: 30px;
    }
    .osul-typo-wrap .fz-20{
        font-size: 14px;
        line-height: 15px;
    }
    .osul-typo ul.fz-24{
        font-size: 14px;
        margin-top: 0;
    }
}
/* ========== 오설록 END ========== */

/* ========== 굿다이노 ========== */
@media (max-width: 1025px){
    .gd-header{
        height: 1000px;
    }
    .gd-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .gd-tit{
        top: 15%;
        right: 36.7%;
        text-align: center;
    }
    .gd-tit .mb-20{
        margin-bottom: 5px;
    }
    .gd-tit .mt-50{
        margin-top: 25px;
    }
    .gd-concept-tit p{
        width: 100%;
        margin: 20px auto 0;
    }
    .gd-concept{
        width: 100%;
    }
}
@media (max-width: 769px){
    .gd-header{
        height: 900px;
    }
    .gd-macbook{
        padding: 75% 0 0 0;
    }
    .gd-tit{
        top: 17%;
        right: 32.59%;
    }
    .gd-concept-wrap .container{
        width: 100%;
    }
    .gd-concept-tit p{
        width: 100%;
    }
    .gd-concept{
        flex-direction: column;
    }
    .gd-typo{
        margin-top: 50px;
    }
}
@media (max-width: 541px){
    .gd-header{
        height: 650px;
    }
    .gd-macbook{
        padding: 82% 0 0 0;
    }
    .gd-tit{
        top: 18%;
        right: 28.84%;
    }
    .gd-tit .fz-60{
        font-size: 50px;
    }
    .gd-tit .fz-25{
        font-size: 20px;
    }
    .gd-viewbtn button{
        padding: 1px 30px;
    }
    .gd-viewbtn .fz-20{
        font-size: 18px;
    }
    .gd-page .pt-120{
        padding-top: 80px;
    }
    .gd-page .pb-120{
        padding-bottom: 80px;
    }
    .gd-concept-tit .fz-40, .gd-color .fz-40, .gd-typo .fz-40{
        font-size: 30px;
    }
    .gd-concept-tit p{
        line-height: 35px;
        font-size: 16px;
    }
    .gd-color-wrap div p.fz-20{        
        font-size: 16px;
    }
    .gd-typo-wrap .fz-20{
        font-size: 18px;
    }
    .gd-typo{
        margin-top: 50px;
    }
}
@media (max-width: 415px){
    .gd-header{
        height: 550px;
    }
    .gd-macbook{
        padding: 96% 0 0 0;
    }
    .gd-tit{
        right: 23.73%;
    }
    .gd-tit .fz-60{
        font-size: 45px;
    }
    .gd-tit .fz-24{
        font-size: 22px;
    }
    .gd-tit .fz-25{
        font-size: 18px;
    }
    .gd-page .pt-120{
        padding-top: 60px;
    }
    .gd-page .pb-120{
        padding-bottom: 60px;
    }
    .gd-concept-tit p{
        line-height: 30px;
        font-size: 15px;
    }
    .gd-color01{
        margin-right: 10px;
    }
    .gd-color-wrap div p.fz-20{
        font-size: 15px;
    }
    .gd-concept-tit .fz-40, .gd-color .fz-40, .gd-typo .fz-40{
        font-size: 28px;
    }
}
@media (max-width: 376px){
    .gd-page .container{
        width: 95%;
    }
    .gd-concept-wrap .container{
        width: 100%;
    }
    .gd-tit{
        top: 21%;
        right: 26.45%;
    }
    .gd-header{
        height: 515px;
    }
    .gd-macbook{
        padding: 100% 0 0 0;
    }
    .gd-tit .fz-60{
        font-size: 40px;
    }
    .gd-tit .mt-50{
        margin-top: 20px;
    }
    .gd-concept-tit p{
        width: 100%;
    }
    .gd-typo-wrap .fz-20{
        font-size: 17px;
    }
}
@media (max-width: 361px){
    .gd-header{
        height: 555px;
    }
    .gd-tit{
        top: 22%;
        right: 26.54%;
    }
    .gd-concept-tit p{
        width: 100%;
    }
}
@media (max-width: 321px){
    .gd-header{
        height: 520px;
    }
    .gd-macbook{
        padding: 110% 0 0 0;
    }
    .gd-tit{
        top: 24%;
        right: 26.97%;
    }
    .gd-tit .fz-60{
        font-size: 35px;
    }
    .gd-tit .fz-25{
        font-size: 16px;
    }
    .gd-concept-tit .fz-40, .gd-color-list .fz-40, .gd-typo .fz-40{
        font-size: 25px;
    }
    .gd-concept-tit p{
        width: 90%;
        line-height: 25px;
        font-size: 14px;
    }
    .gd-color01, .gd-color02{
        width: 130px;
        height: 130px;
    }
    .gd-typo-wrap .fz-20{
        font-size: 16px;
    }
    .gd-concept-tit .mt-20, .gd-color .mt-20, .wireframe-img{
        margin-top: 10px;
    }
}
@media (max-width: 281px){
    .gd-header{
        height: 460px;
    }
    .gd-macbook{
        padding: 105% 0 0 0;
    }
    .gd-tit{
        top: 24%;
        right: 25%;
    }
    .gd-tit .fz-24{
        font-size: 20px;
    }
    .gd-tit .fz-60{
        font-size: 30px;
    }
    .gd-tit .fz-25{
        font-size: 15px;
    }
    .gd-viewbtn .fz-20{
        font-size: 15px;
    }
    .gd-tit .mt-50{
        margin-top: 15px;
    }
    .gd-concept-tit .fz-40, .gd-color .fz-40, .gd-typo .fz-40{
        font-size: 23px;
    }
    .gd-concept-tit p{
        width: 90%;
        line-height: 22px;
        font-size: 12px;
    }
    .gd-color01, .gd-color02{
        width: 100px;
        height: 100px;
    }
    .gd-color-wrap div p.fz-20{
        font-size: 12px;
    }
    .gd-concept-wrap .mt-50{
        margin-top: 30px;
    }
    .gd-typo{
        margin-top: 30px;
    }
    .gd-typo-wrap .fz-20{
        font-size: 14px;
        line-height: 15px;
    }
}
/* ========== 굿다이노 END ========== */

/* ========== MBTI ========== */
@media (max-width: 1025px){
    .royal-header{
        height: 1000px;
    }
    .royal-macbook{
        padding: 55% 0 0 0;
        max-width: none;
    }
    .royal-tit{
        top: 15%;
        right: 40%;
        text-align: center;
    }
    .royal-tit .mb-20{
        margin-bottom: 5px;
    }
    .royal-tit .mt-50{
        margin-top: 25px;
    }
    .royal-concept-tit p{
        width: 80%;
        margin: 20px auto 0;
    }
    .royal-concept{
        width: 100%;
    }
    .monitor{
        display: none;
    }
    .rs-monitor{
        display: block;
    }
}