.royal-header{
    width: 100%;
    height: 600px;
    position: relative;
}
.royal-macbook{
    padding-top: 7%;
    max-width: 920px;
    padding-left: 10%;
}
.royal-macbook .screen{
    background: #000;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    margin: 0 auto;
    position: relative;
    width: 80%;
}
.royal-macbook .screen:before{
    border: 2px solid #cacacc;
    border-radius: 3% 3% 0.5% 0.5% / 5%;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.8) inset,
      0 0 1px 2px rgba(255, 255, 255, 0.3) inset;
    content: "";
    display: block;
    /* for aspect ratio ~67:100 */
    padding-top: 67%;
}
.royal-macbook .screen:after{
    content: "";
    border-top: 2px solid rgba(255, 255, 255, 0.15);
    position: absolute;
    bottom: 0.75%;
    left: 0.5%;
    padding-top: 1%;
    width: 99%;
}
.royal-macbook .viewport{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: 4.3% 3.2%;
    background: #333;
}
.royal-macbook .base{
    position: relative;
    width: 100%;
}
.royal-macbook .base:before{
    content: "";
    display: block;
    /* for aspect ratio ~33:1000*/
    padding-top: 3.3%;
    /* stylin */
    background: linear-gradient(
        #eaeced,
        #edeef0 55%,
        #fff 55%,
        #8a8b8f 56%,
        #999ba0 61%,
        #4b4b4f 84%,
        #262627 89%,
        rgba(0, 0, 0, 0.01) 98%
        );
    border-radius: 0 0 10% 10%/ 0 0 50% 50%;
}
.royal-macbook .base::after{
    background: linear-gradient(90deg,
    rgba(0, 0, 0, 0.5),
    rgba(255, 255, 255, 0.8) 0.5%,
    rgba(0, 0, 0, 0.4) 3.3%, transparent 15%,
    rgba(255, 255, 255, 0.8) 50%, transparent 85%,
    rgba(0, 0, 0, 0.4) 96.7%,
    rgba(255, 255, 255, 0.8) 99.5%,
    rgba(0, 0, 0, 0.5) 100%);
    content: "";
    height: 53%;
    position: absolute;
    top: 0;
    width: 100%;
}
.royal-macbook .notch{
    background: #ddd;
    border-radius: 0 0 7% 7% / 0 0 95% 95%;
    box-shadow: -5px -1px 3px rgba(0, 0, 0, 0.2) inset, 5px -1px 3px rgba(0, 0, 0, 0.2) inset;
    margin-left: auto;
    margin-right: auto;
    margin-top: -3.5%;
    z-index: 2;
    /* for aspect ratio */
    position: relative;
    width: 14%;
}
.royal-macbook .notch:before{
    content: "";
    display: block;
    /* for aspect ratio ~1:10 */
    padding-top: 10%;
}

/* Screenshot Hover Scroll Additions
-------------------------------------------------------------- */
.royal-macbook .viewport{
    transition: background-position 3s ease;
    background-position: 0 0;
    background-size: 100% auto;
    overflow: hidden;
    cursor: pointer;
}
.royal-macbook:hover .viewport{
    background-position: 0 100%;
}
.royal-macbook .viewport:after{
    background: radial-gradient(circle at right bottom, transparent 75%, rgba(255, 255, 255, 0.05) 75%, transparent);
    bottom: 0;
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.royal-tit{
    position: absolute;
    top: 27%;
    right: 20%;
}
.royal-tit h3{
    font-weight: 500;
}
.rs-monitor{
    display: none;
}
.royal-viewbtn button{
    border-radius: 0;
    border: 1px solid #f9d81b;
    background: #fff;
    padding: 3px 30px;
    transition: all .3s;
}
.royal-viewbtn button:hover{
    border: 1px solid #f9d81b;
    color: #333;
    background: #f9d81b;
}
.royal-concept-wrap{
    width: 100%;
    background: #f6f6f6;
}
.royal-concept{
    justify-content: space-between;
    margin: 50px auto 0;
}
.royal-color{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.royal-color-wrap div{
    position: relative;
}
.royal-color-wrap div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}
.royal-color01{
    width: 150px;
    height: 150px;
    background: #e1ca57;
    border-radius: 100%;
    margin-right: 20px;
}
.royal-color02{
    width: 150px;
    height: 150px;
    background: #323650;
    border-radius: 100%;
    color: #fff;
}
.royal-typo{
    display: flex;
    flex-direction: column;
    align-items: center;    
}
.royal-concept-tit{
    flex-direction: column;
}
.royal-concept-tit p{
    line-height: 40px;
    font-weight: 400;
}
.royal-fonttype{
    font-family: 'EBSHMJESaeronRA';
    font-weight: 600;
    color: transparent;
    text-stroke: 0.1px #333;
    -webkit-text-stroke: 0.1px #333;
}
.royal-fonttype2{
    font-weight: 600;
    color: transparent;
    text-stroke: 1px #333;
    -webkit-text-stroke: 1px #333;
}
.royal-typo-wrap ul li{
    margin-bottom: 10px;
}
.royal-typo-wrap ul li:first-child{
    font-weight: lighter;
}
.royal-typo-wrap ul li:nth-child(2){
    font-weight: normal;
}
.royal-typo-wrap ul li:last-child{
    font-weight: bold;
}
.wireframe-img{
    margin-top: 20px;
}
.wireframe-img img{
    width: 100%;
}