.smw-wrap{
    width: 100%;
    margin: 0 auto;
}
.smw-header{
    width: 100%;
    height: 600px;
    background: url('../images/sik_header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.smw-tit{
    position: absolute;
    top: 20%;
    right: 20%;
}
.smw-tit h3{
    font-weight: 500;
}
.smw-viewbtn button{
    border-radius: 0;
    border: 1px solid #f9d81b;
    background: #fff;
    padding: 3px 30px;
    transition: all .3s;
}
.smw-viewbtn button:hover{
    border: 1px solid #f9d81b;
    color: #333;
    background: #f9d81b;
}
.smw-concept-wrap{
    width: 100%;
    background: #f6f6f6;
}
.smw-concept-list{
    justify-content: space-between;
    width: 80%;
    margin: 50px auto 0;
}
.smw-color-list{
    text-align: center;
}
.smw-color-wrap div{
    margin-right: 20px;
    position: relative;
}
.smw-color-wrap div:last-child{
    margin-right: 0;
}
.smw-color-wrap div p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: 500;
}
.smw-color01{
    width: 150px;
    height: 150px;
    background: #13805d;
    border-radius: 100%;
}
.smw-color02{
    width: 150px;
    height: 150px;
    background: #fff;
    border: 1px solid #19191996;
    border-radius: 100%;
}
.smw-color03{
    width: 150px;
    height: 150px;
    background: #ec654f;
    border-radius: 100%;
}
.smw-concept-tit{
    flex-direction: column;
}
.smw-concept-tit p{
    line-height: 40px;
    font-weight: 400;
}
.smw-typo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.smw-fonttype{
    font-weight: 600;
    color: transparent;
    text-stroke: 1px #333;
    -webkit-text-stroke: 1px #333;
}
.smw-typo-wrap ul li{
    margin-bottom: 10px;
}
.smw-typo-wrap ul li:first-child{
    font-weight: lighter;
}
.smw-typo-wrap ul li:nth-child(2){
    font-weight: normal;
}
.smw-typo-wrap ul li:last-child{
    font-weight: bold;
}
.wireframe-img img{
    width: 100%;
}