::selection{
    color: #fff;
    background: #e8321e;
}

.contents-wrap{
    background-image: url('../images/background-img1.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

/* ========== header ========== */
#main{
    height: 100vh;
    position: relative;
}
#main .main-text{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translateY(-50%);
}
#main .main-text div:nth-child(2){
    font-weight: 400;
}

/* ========== typing-txt ========== */
.typing-txt{
    display: none;
}

ul{
    list-style:none;
}

.typing ul li.on{
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}

/* ===== scroll down ===== */
.scrollbtn{
    bottom: 0%;
    left: 50%;
    position: absolute;
}
button.scroll_down{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
button.scroll_down:before{
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
}
@keyframes scroll_down_btn-animation{
    0%{
      transform: translate(0, 0);
      opacity: 0;
    }
    40%{
      opacity: 1;
    }
    80%{
      transform: translate(0, 20px);
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
}
@-webkit-keyframes scroll_down_btn-animation{
    0%{
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40%{
      opacity: 1;
    }
    80%{
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
}


/* ===== section 01 ===== */
/* div.wrap{
    width: 1400px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
section#intro{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section#intro div.wrap{
    position: relative;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
section#intro header{
    padding-left: 100px;
}
.pf-date{
    font-weight: lighter;
}
.intro-tit{
    font-style: italic;
    font-weight: 300;
}
section#intro div.wrap header a{
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}
section#intro div.wrap header a::after{
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #e8321e;
    transition: opacity 300ms, transform 300ms;
}
section#intro div.wrap header a:hover::after,
section#intro div.wrap header a:focus::after{
  transform: translate3d(0, 0, 0);
}
.intro-sub-tit::after{
    content: "\e9c5";
    font-family: 'xeicon';
    font-weight: 600;
    font-size: 11px;
} */
div.wrap{
    width: 1400px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.intro-txt{
    margin-top: 50%;
    overflow: hidden;
}
.intro-txt div.wrap{
    position: relative;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.pf-date{
    font-weight: lighter;
}
.intro-tit{
    font-style: italic;
    font-weight: 300;
}
.intro-txt header a{
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}
.intro-txt header a::after{
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: #e8321e;
    transition: opacity 300ms, transform 300ms;
}
.intro-txt header a:hover::after,
.intro-txt header a:focus::after{
  transform: translate3d(0, 0, 0);
}
.intro-sub-tit::after{
    content: "\e9c5";
    font-family: 'xeicon';
    font-weight: 600;
    font-size: 11px;
}









section#contents{
    background-size: contain !important;
    width: 100%;
    margin-top: 50vh;
    min-width: 1400px;
}
section#contents div.wrap{
    position: relative;
    margin: 0 auto;
    min-width: 1400px;
    padding-bottom:5vh;
}
section#contents div.imgSlider{
    width: 700px;
    height: 480px;
    box-shadow: 0 0 54px 0 rgb(0,0,0,.2);
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    margin-left: 56%;
}
section#contents div.imgSlider p.title{
    color: #313131;
    font-size: 12px;
    line-height: 70px;
    position: absolute;
    top: 0;
    left: 25px;
    text-align: left;
}
section#contents div.imgSlider p.num{
    color: #b3b3b3;
    font-size: 11px;
    line-height: 70px;
    position: absolute;
    top: 0;
    right: 25px;
    text-align: left;
    letter-spacing: 1px;
}
section#contents div.imgSlider button{
    display: none;
}
section#contents div.imgSlider div.slider div.tns-item{
    width: 796px;
    height: 467px;
}
