::selection{
    color: #fff;
    background: #f9d81b;
}
.contents-wrap{
    /* background-image: url('../images/background-img1.png'); */
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
}

/* CURSOR CUSTOM */
.cursor{
    display: block;
    width: 20px;
    height: 20px;
    position: fixed;
    top: 10px;
    left: 0;
    border-radius: 50%;
    background: #f9d81b;
    z-index: 9999999;
    pointer-events: none;
    transition: border 0.3s ease-in-out, background 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
}
.mouse.bounce{
    width: 36px;
    height: 36px;
    top: 2px;
    left: -8px;
    border: 2px solid #f9d81b;
    background: transparent;
    box-shadow: none;
}
a,
a:visited{
    display: inline-block;
    /* padding: 20px; */
    text-decoration: none;
    cursor: none;
}


/* MENU */
.menubtn{
    position: relative;
    display: flex;
    justify-content: flex-end;
    z-index: 9999;
}
.menubtn ul li{
    position: absolute;
}
.menubtn-txt{
    position: fixed;
    transform: rotate(-90deg);
    font-weight: 600;
    transition: transform 150ms ease;
    /* right: 5%;
    top: 14%; */
}
.closebtn{
    display: none;
}
#toggle{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 21px;
    cursor: pointer;
    z-index: 1000;
}
#toggle div.bar,
#toggle div.bar:before,
#toggle div.bar:after{
    width: 100%;
    height: 3px;
    background: #333;
}
#toggle div.bar{
    position: relative;
    transform: translateY(9px);
    transition: all 0.3s 0.3s ease;
}
#toggle div.bar:before{
    content: "";
    position: absolute;
    bottom: 9px;
    transition: bottom 0.3s 0.3s ease, transform 0.3s ease;
}
#toggle div.bar:after{
    content: "";
    position: absolute;
    top: 9px;
    transition: top 0.3s 0.3s ease, transform 0.3s ease;
}


/* ANIMATION */
#toggle div.bar.animate{
    background: #fff;
}
#toggle div.bar.animate:after{
    top: 0;
    transform: rotate(45deg);
    transition: top 0.3s ease, transform 0.3s 0.3s ease;
}
#toggle div.bar.animate:before{
    bottom: 0;
    transform: rotate(-45deg);
    transition: bottom 0.3s ease, transform 0.3s 0.3s ease;
}
#overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease, max-height 0s 0.6s ease;
    z-index: 100;
    opacity: 1;
    background: #edece8;
}
#overlay nav{
  position: absolute;
  top: 25%;
  left: 20%;
}
#overlay nav ul,
#overlay nav ul li{
    margin: 0;
    padding: 0;
    display: block;
    position: static;
}
#overlay nav ul{
    padding: 30px;
}
#overlay nav ul li{
    margin-bottom: 10px;
    opacity: 0;
    transition: all 0.9s 0s ease;
    margin-left: 60px;
}
#overlay nav ul li a{
    font-size: 70px;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    height: 50px;
    display: inline-block;
    transition: all 0.6s 0s ease;
}
#overlay nav ul li a:after{
   content: "";
   position: absolute;
   left: 0;
   bottom: 20%;
   width: 0;
   opacity: 0;
   height: 2px;
   background: #333;
   transition: all 0.6s 0s ease;
}
#overlay nav ul li a:hover:after{
   width: 100%;
   opacity: 1;
}
#page.overlay #overlay nav ul li:nth-child(1){
   transition: all 0.9s 0.6s ease;
}
#page.overlay #overlay nav ul li:nth-child(2){
   transition: all 0.9s 0.8s ease;
}
#page.overlay #overlay nav ul li:nth-child(3){
   transition: all 0.9s 1.0s ease;
}
#page.overlay #overlay nav ul li:nth-child(4){
   transition: all 0.9s 1.2s ease;
}
#page.overlay #overlay nav ul li:nth-child(5){
   transition: all 0.9s 1.4s ease;
}
#page.overlay #overlay{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    max-height: 1200px;
    opacity: 1;
    z-index: 9999;
    transition: all 0.3s ease;
}
#page.overlay #overlay nav ul li{
    margin-left: 0;
    opacity: 1;
}


/* ========== MAIN ========== */
#main{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
#main .main-text{
    position: absolute;
    top: 45%;
    left: 30%;
    transform: translateY(-50%);
}
#main .main-text div:nth-child(2){
    font-weight: 400;
}
.circle01, .circle02, .circle03{
    position: absolute;
}
.circle01{
    width: 200px;
    height: 200px;
    /* background: #f9d81b; */
    background: #fff;
    border: 1px solid #f9d81b;
    border-radius: 100%;
    top: 10%;
    left: 10%;
    animation: ani 2s infinite alternate;
}
.circle02{
    width: 400px;
    height: 400px;
    background: #f9d81b;
    border-radius: 100%;
    top: 30%;
    right: -5%;
    animation: ani2 2.2s infinite alternate;
}
@keyframes ani{
    0%{transform: translte(0, 0);}
    100%{transform: translate(0, 50px);}
}
@keyframes ani2{
    0%{transform: translte(0, 0);}
    100%{transform: translate(0, 70px);}
}

/* ========== typing-txt ========== */
.typing-txt{
    display: none;
}

ul{
    list-style:none;
}

.typing ul li.on{
    display: inline-block;
    animation-name: cursor;
    animation-duration: 0.3s;
    animation-iteration-count: infinite;
}

@keyframes cursor{
    0%{border-right: 1px solid #fff}
    50%{border-right: 1px solid #000}
    100%{border-right: 1px solid #fff}
}

/* ===== scroll down ===== */
.scrollbtn{
    bottom: 0%;
    left: 50%;
    position: absolute;
}
button.scroll_down{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: 50px;
    width: 30px;
    bottom: 60px;
    background-color: transparent;
    border: 2px solid #333;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}
button.scroll_down:before{
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: scroll_down_btn-animation 2s infinite;
    animation: scroll_down_btn-animation 2s infinite;
    box-sizing: border-box;
}
@keyframes scroll_down_btn-animation{
    0%{
      transform: translate(0, 0);
      opacity: 0;
    }
    40%{
      opacity: 1;
    }
    80%{
      transform: translate(0, 20px);
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
}
@-webkit-keyframes scroll_down_btn-animation{
    0%{
      -webkit-transform: translate(0, 0);
      transform: translate(0, 0);
      opacity: 0;
    }
    40%{
      opacity: 1;
    }
    80%{
      -webkit-transform: translate(0, 20px);
      transform: translate(0, 20px);
      opacity: 0;
    }
    100%{
      opacity: 0;
    }
}


/* ===== section 01 ===== */
div.wrap{
    width: 1400px;
    padding: 0 50px;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}
.intro-txt{
    overflow: hidden;
}
.intro-txt div.wrap{
    position: relative;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.intro-tit{
    font-style: italic;
    font-weight: 300;
}
.intro-txt a{
    display: inline-block;
    position: relative;
    padding: 0.2em 0;
    overflow: hidden;
}
.intro-txt a::after{
    opacity: 1;
    transform: translate3d(-100%, 0, 0);
    content: "";
    position: absolute;
    bottom: 6px;
    left: 0;
    width: 100%;
    height: 20px;
    background-color: #f9d81b22;
    transition: opacity 300ms, transform 300ms;
}
.intro-txt a:hover::after,
.intro-txt a:focus::after{
  transform: translate3d(0, 0, 0);
}
.intro-sub-tit::after{
    content: "\e9c5";
    font-family: 'xeicon';
    font-weight: 600;
    font-size: 11px;
}
section#contents{
    background-size: contain !important;
    width: 100%;
    margin-top: 50vh;
    min-width: 1400px;
}
section#contents div.wrap{
    position: relative;
    margin: 0 auto;
    min-width: 1400px;
    padding-bottom:5vh;
}
section#contents div.imgSlider{
    width: 796px;
    height: 480px;
    box-shadow: 0 0 54px 0 rgb(0,0,0,.2);
    position: sticky;
    top: 60%;
    transform: translateY(-50%);
    margin-left: 50%;
}
#contents .wrap .imgSlider .tns-outer button{
    display: none;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
svg{
    position: sticky;
    top: -7%;
    left: 29%;
    max-width: 780px;
}
text{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 18px;
    fill: #333;
}
















section#contents div.title{
    width: 50%;
    margin-bottom: 80vh;
    box-sizing: border-box;
    position: relative;
    z-index: 0;
}
section#contents div.title:nth-of-type(2){
    margin-top: -17vh;
}
section#contents div.title:last-child{
    margin-bottom: 60vh;
}
section#contents div.title:after{
    position: absolute;
    content: "";
    font-size: 65px;
    font-weight: 800;
    color: #f1f1f1;
    display: block;
    top: 0;
    margin-left: -3px;
    z-index: -1;
}
section#contents div.title h2{
    font-size: 35px;
    line-height: 44px;
    font-weight: 300;
}
section#contents div.title h2 strong{
    font-weight: 800;
    display: block;
}
section#contents div.title p{
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #3e3e3e;
    font-weight: 400;
}
footer{
    padding: 20px 10px;
    border-top: 1px solid #eee;
    font-size: 12px;
    color: #4d4d4d;
}
footer address{
    width: 1400px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
    padding: 0 50px;
}


